<center><h1><b>Company Salesperson Data Analysis</center>

# Understanding the Data   
The dataset provides order-level information about company sales handled by different salespersons. Each row corresponds to a single order and records the key details needed to evaluate sales performance. It contains the order ID and date, the region where the sale occurred, the name of the salesperson, the product sold, the number of units sold, the unit price and the total sales amount (units × unit price).
Because it includes both categorical fields (region, salesperson, product) and numerical fields (units, unit price, total sales), the dataset can be used to measure salesperson performance, compare regional sales, analyse product demand and identify trends over time.

## Importing Required Libraries

In [24]:
#Importing Libraries
import numpy as np
import pandas as pd

## Reading data

In [25]:
#Reading data
persons = pd.read_csv(r"S:\Jupyter Notebook\Data Science Internship/Dataset/company_sales_person.csv")
print(persons)

    OrderID        Date Region SalesPerson     Product  Units  UnitPrice  \
0       101  2024-01-06  South       Diana      Laptop      2        600
1       102  2024-01-30  South       Diana      Tablet     13        250
2       103  2024-01-26   East         Bob       Phone      1        300
3       104  2024-01-01  North       Diana      Laptop      7        600
4       105  2024-01-13  South     Charlie     Monitor      6        200
5       106  2024-01-12   East       Alice      Tablet      8        250
6       107  2024-01-03   West      Edward     Monitor      8        200
7       108  2024-01-14  North     Charlie       Phone     14        300
8       109  2024-01-20  North         Bob     Monitor      2        200
9       110  2024-01-07  South         Bob      Tablet      8        250
10      111  2024-01-25   West      Edward       Phone     14        300
11      112  2024-01-08  South     Charlie     Monitor      3        200
12      113  2024-01-07   East       Alice       Phone     13        300
13      114  2024-01-08  South         Bob      Laptop      3        600
14      115  2024-01-26  South       Alice      Tablet      5        250
15      116  2024-01-01   West       Diana     Monitor      9        200
16      117  2024-01-24   West      Edward  Headphones     15        100
17      118  2024-01-20   East      Edward      Laptop     15        600
18      119  2024-01-19  South       Alice      Laptop      8        600
19      120  2024-01-25   East       Diana       Phone      1        300
20      121  2024-01-26   West       Diana     Monitor      7        200
21      122  2024-01-31  North       Diana     Monitor     15        200
22      123  2024-01-28   East         Bob      Laptop      2        600
23      124  2024-01-31  North       Alice      Laptop      5        600
24      125  2024-01-14   East       Diana       Phone     12        300
25      126  2024-01-20   West     Charlie     Monitor     10        200
26      127  2024-01-03  South       Diana       Phone      7        300
27      128  2024-01-07  South       Diana       Phone      3        300
28      129  2024-01-07   West       Diana  Headphones      8        100
29      130  2024-01-18   East       Diana      Laptop     15        600
30      131  2024-01-24  North         Bob  Headphones      3        100
31      132  2024-01-26  North       Diana     Monitor     10        200
32      133  2024-01-06  North      Edward     Monitor      1        200
33      134  2024-01-04  South       Alice      Laptop      1        600
34      135  2024-01-05   East      Edward  Headphones     15        100
35      136  2024-01-28  South       Alice      Tablet     11        250
36      137  2024-01-19   West     Charlie     Monitor      4        200
37      138  2024-01-12   West     Charlie     Monitor      7        200
38      139  2024-01-27   West     Charlie  Headphones     12        100
39      140  2024-01-05   East      Edward      Tablet     10        250
40      141  2024-01-14   West     Charlie       Phone      8        300
41      142  2024-01-19  South       Diana      Laptop      1        600
42      143  2024-01-15  South       Diana      Laptop      1        600
43      144  2024-01-20   East     Charlie      Laptop      9        600
44      145  2024-01-03  South         Bob       Phone     12        300
45      146  2024-01-07   East         Bob       Phone     14        300
46      147  2024-01-25  South       Diana      Laptop     12        600
47      148  2024-01-16   East     Charlie      Laptop     11        600
48      149  2024-01-20   East      Edward      Tablet      9        250
49      150  2024-01-29  South         Bob     Monitor      1        200

    TotalSales
0         1200
1         3250
2          300
3         4200
4         1200
5         2000
6         1600
7         4200
8          400
9         2000
10        4200
11         600
12        3900
13        1800
14        1250
15        1800
16        1500
17        9000
18        4800
19         300
20        1400
21        3000
22        1200
23        3000
24        3600
25        2000
26        2100
27         900
28         800
29        9000
30         300
31        2000
32         200
33         600
34        1500
35        2750
36         800
37        1400
38        1200
39        2500
40        2400
41         600
42         600
43        5400
44        3600
45        4200
46        7200
47        6600
48        2250
49         200

## 1) Show the first 7 rows of the dataset.

In [26]:
#Show the first 7 rows of the dataset.
persons.head(7)

,OrderID,Date,Region,SalesPerson,Product,Units,UnitPrice,TotalSales
0,101,2024-01-06,South,Diana,Laptop,2,600,1200
1,102,2024-01-30,South,Diana,Tablet,13,250,3250
2,103,2024-01-26,East,Bob,Phone,1,300,300
3,104,2024-01-01,North,Diana,Laptop,7,600,4200
4,105,2024-01-13,South,Charlie,Monitor,6,200,1200
5,106,2024-01-12,East,Alice,Tablet,8,250,2000
6,107,2024-01-03,West,Edward,Monitor,8,200,1600

## 2) Show the last 5 rows of the dataset.

In [27]:
#Show the last 5 rows of the dataset.
persons.tail()

,OrderID,Date,Region,SalesPerson,Product,Units,UnitPrice,TotalSales
45,146,2024-01-07,East,Bob,Phone,14,300,4200
46,147,2024-01-25,South,Diana,Laptop,12,600,7200
47,148,2024-01-16,East,Charlie,Laptop,11,600,6600
48,149,2024-01-20,East,Edward,Tablet,9,250,2250
49,150,2024-01-29,South,Bob,Monitor,1,200,200

## 3) Information Summary:

In [28]:
#Information Summary:
persons.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   OrderID      50 non-null     int64
 1   Date         50 non-null     object
 2   Region       50 non-null     object
 3   SalesPerson  50 non-null     object
 4   Product      50 non-null     object
 5   Units        50 non-null     int64
 6   UnitPrice    50 non-null     int64
 7   TotalSales   50 non-null     int64
dtypes: int64(4), object(4)
memory usage: 3.3+ KB

## 4) Describing the data:

In [29]:
#Describing the data:
persons.describe()

         OrderID      Units   UnitPrice   TotalSales
count   50.00000  50.000000   50.000000    50.000000
mean   125.50000   7.820000  331.000000  2456.000000
std     14.57738   4.719434  178.397058  2129.114025
min    101.00000   1.000000  100.000000   200.000000
25%    113.25000   3.000000  200.000000   975.000000
50%    125.50000   8.000000  275.000000  1900.000000
75%    137.75000  12.000000  600.000000  3512.500000
max    150.00000  15.000000  600.000000  9000.000000

## 5) Find the shape (rows × columns) of the dataset.

In [30]:
#Find the shape (rows × columns) of the dataset.
persons.shape

(50, 8)

## 6) Check if there are any missing values.

In [31]:
#Check if there are any missing values.
print(persons.isnull().sum())

OrderID        0
Date           0
Region         0
SalesPerson    0
Product        0
Units          0
UnitPrice      0
TotalSales     0
dtype: int64

## 7) Display only the SalesPerson and TotalSales columns.

In [32]:
#Display only the SalesPerson and TotalSales columns.
print(persons[['SalesPerson','TotalSales']])

   SalesPerson  TotalSales
0        Diana        1200
1        Diana        3250
2          Bob         300
3        Diana        4200
4      Charlie        1200
5        Alice        2000
6       Edward        1600
7      Charlie        4200
8          Bob         400
9          Bob        2000
10      Edward        4200
11     Charlie         600
12       Alice        3900
13         Bob        1800
14       Alice        1250
15       Diana        1800
16      Edward        1500
17      Edward        9000
18       Alice        4800
19       Diana         300
20       Diana        1400
21       Diana        3000
22         Bob        1200
23       Alice        3000
24       Diana        3600
25     Charlie        2000
26       Diana        2100
27       Diana         900
28       Diana         800
29       Diana        9000
30         Bob         300
31       Diana        2000
32      Edward         200
33       Alice         600
34      Edward        1500
35       Alice        2750
36     Charlie         800
37     Charlie        1400
38     Charlie        1200
39      Edward        2500
40     Charlie        2400
41       Diana         600
42       Diana         600
43     Charlie        5400
44         Bob        3600
45         Bob        4200
46       Diana        7200
47     Charlie        6600
48      Edward        2250
49         Bob         200

## 8) Show all sales records from the South region.

In [33]:
#Show all sales records from the South region.
print(persons[persons['Region'] == 'South'])

    OrderID        Date Region SalesPerson  Product  Units  UnitPrice  \
0       101  2024-01-06  South       Diana   Laptop      2        600
1       102  2024-01-30  South       Diana   Tablet     13        250
4       105  2024-01-13  South     Charlie  Monitor      6        200
9       110  2024-01-07  South         Bob   Tablet      8        250
11      112  2024-01-08  South     Charlie  Monitor      3        200
13      114  2024-01-08  South         Bob   Laptop      3        600
14      115  2024-01-26  South       Alice   Tablet      5        250
18      119  2024-01-19  South       Alice   Laptop      8        600
26      127  2024-01-03  South       Diana    Phone      7        300
27      128  2024-01-07  South       Diana    Phone      3        300
33      134  2024-01-04  South       Alice   Laptop      1        600
35      136  2024-01-28  South       Alice   Tablet     11        250
41      142  2024-01-19  South       Diana   Laptop      1        600
42      143  2024-01-15  South       Diana   Laptop      1        600
44      145  2024-01-03  South         Bob    Phone     12        300
46      147  2024-01-25  South       Diana   Laptop     12        600
49      150  2024-01-29  South         Bob  Monitor      1        200

    TotalSales
0         1200
1         3250
4         1200
9         2000
11         600
13        1800
14        1250
18        4800
26        2100
27         900
33         600
35        2750
41         600
42         600
44        3600
46        7200
49         200

## 9) Find all sales where Units > 10.

In [34]:
#Find all sales where Units > 10.
print(persons[persons['Units'] > 10])

    OrderID        Date Region SalesPerson     Product  Units  UnitPrice  \
1       102  2024-01-30  South       Diana      Tablet     13        250
7       108  2024-01-14  North     Charlie       Phone     14        300
10      111  2024-01-25   West      Edward       Phone     14        300
12      113  2024-01-07   East       Alice       Phone     13        300
16      117  2024-01-24   West      Edward  Headphones     15        100
17      118  2024-01-20   East      Edward      Laptop     15        600
21      122  2024-01-31  North       Diana     Monitor     15        200
24      125  2024-01-14   East       Diana       Phone     12        300
29      130  2024-01-18   East       Diana      Laptop     15        600
34      135  2024-01-05   East      Edward  Headphones     15        100
35      136  2024-01-28  South       Alice      Tablet     11        250
38      139  2024-01-27   West     Charlie  Headphones     12        100
44      145  2024-01-03  South         Bob       Phone     12        300
45      146  2024-01-07   East         Bob       Phone     14        300
46      147  2024-01-25  South       Diana      Laptop     12        600
47      148  2024-01-16   East     Charlie      Laptop     11        600

    TotalSales
1         3250
7         4200
10        4200
12        3900
16        1500
17        9000
21        3000
24        3600
29        9000
34        1500
35        2750
38        1200
44        3600
45        4200
46        7200
47        6600

## 10) Show sales records for the product Laptop.

In [35]:
#Show sales records for the product Laptop.
print(persons[persons['Product'] == 'Laptop'])

    OrderID        Date Region SalesPerson Product  Units  UnitPrice  \
0       101  2024-01-06  South       Diana  Laptop      2        600
3       104  2024-01-01  North       Diana  Laptop      7        600
13      114  2024-01-08  South         Bob  Laptop      3        600
17      118  2024-01-20   East      Edward  Laptop     15        600
18      119  2024-01-19  South       Alice  Laptop      8        600
22      123  2024-01-28   East         Bob  Laptop      2        600
23      124  2024-01-31  North       Alice  Laptop      5        600
29      130  2024-01-18   East       Diana  Laptop     15        600
33      134  2024-01-04  South       Alice  Laptop      1        600
41      142  2024-01-19  South       Diana  Laptop      1        600
42      143  2024-01-15  South       Diana  Laptop      1        600
43      144  2024-01-20   East     Charlie  Laptop      9        600
46      147  2024-01-25  South       Diana  Laptop     12        600
47      148  2024-01-16   East     Charlie  Laptop     11        600

    TotalSales
0         1200
3         4200
13        1800
17        9000
18        4800
22        1200
23        3000
29        9000
33         600
41         600
42         600
43        5400
46        7200
47        6600

## 11) Display all sales made by Bob.

In [36]:
#Display all sales made by Bob.
print(persons[persons['SalesPerson'] == 'Bob'])

    OrderID        Date Region SalesPerson     Product  Units  UnitPrice  \
2       103  2024-01-26   East         Bob       Phone      1        300
8       109  2024-01-20  North         Bob     Monitor      2        200
9       110  2024-01-07  South         Bob      Tablet      8        250
13      114  2024-01-08  South         Bob      Laptop      3        600
22      123  2024-01-28   East         Bob      Laptop      2        600
30      131  2024-01-24  North         Bob  Headphones      3        100
44      145  2024-01-03  South         Bob       Phone     12        300
45      146  2024-01-07   East         Bob       Phone     14        300
49      150  2024-01-29  South         Bob     Monitor      1        200

    TotalSales
2          300
8          400
9         2000
13        1800
22        1200
30         300
44        3600
45        4200
49         200

## 12) Add a new column DiscountedSales = TotalSales × 0.9 (10% discount).

In [37]:
#Add a new column DiscountedSales = TotalSales × 0.9 (10% discount).
persons['DiscountSales'] = persons['TotalSales'] * 0.9
print(persons)

    OrderID        Date Region SalesPerson     Product  Units  UnitPrice  \
0       101  2024-01-06  South       Diana      Laptop      2        600
1       102  2024-01-30  South       Diana      Tablet     13        250
2       103  2024-01-26   East         Bob       Phone      1        300
3       104  2024-01-01  North       Diana      Laptop      7        600
4       105  2024-01-13  South     Charlie     Monitor      6        200
5       106  2024-01-12   East       Alice      Tablet      8        250
6       107  2024-01-03   West      Edward     Monitor      8        200
7       108  2024-01-14  North     Charlie       Phone     14        300
8       109  2024-01-20  North         Bob     Monitor      2        200
9       110  2024-01-07  South         Bob      Tablet      8        250
10      111  2024-01-25   West      Edward       Phone     14        300
11      112  2024-01-08  South     Charlie     Monitor      3        200
12      113  2024-01-07   East       Alice       Phone     13        300
13      114  2024-01-08  South         Bob      Laptop      3        600
14      115  2024-01-26  South       Alice      Tablet      5        250
15      116  2024-01-01   West       Diana     Monitor      9        200
16      117  2024-01-24   West      Edward  Headphones     15        100
17      118  2024-01-20   East      Edward      Laptop     15        600
18      119  2024-01-19  South       Alice      Laptop      8        600
19      120  2024-01-25   East       Diana       Phone      1        300
20      121  2024-01-26   West       Diana     Monitor      7        200
21      122  2024-01-31  North       Diana     Monitor     15        200
22      123  2024-01-28   East         Bob      Laptop      2        600
23      124  2024-01-31  North       Alice      Laptop      5        600
24      125  2024-01-14   East       Diana       Phone     12        300
25      126  2024-01-20   West     Charlie     Monitor     10        200
26      127  2024-01-03  South       Diana       Phone      7        300
27      128  2024-01-07  South       Diana       Phone      3        300
28      129  2024-01-07   West       Diana  Headphones      8        100
29      130  2024-01-18   East       Diana      Laptop     15        600
30      131  2024-01-24  North         Bob  Headphones      3        100
31      132  2024-01-26  North       Diana     Monitor     10        200
32      133  2024-01-06  North      Edward     Monitor      1        200
33      134  2024-01-04  South       Alice      Laptop      1        600
34      135  2024-01-05   East      Edward  Headphones     15        100
35      136  2024-01-28  South       Alice      Tablet     11        250
36      137  2024-01-19   West     Charlie     Monitor      4        200
37      138  2024-01-12   West     Charlie     Monitor      7        200
38      139  2024-01-27   West     Charlie  Headphones     12        100
39      140  2024-01-05   East      Edward      Tablet     10        250
40      141  2024-01-14   West     Charlie       Phone      8        300
41      142  2024-01-19  South       Diana      Laptop      1        600
42      143  2024-01-15  South       Diana      Laptop      1        600
43      144  2024-01-20   East     Charlie      Laptop      9        600
44      145  2024-01-03  South         Bob       Phone     12        300
45      146  2024-01-07   East         Bob       Phone     14        300
46      147  2024-01-25  South       Diana      Laptop     12        600
47      148  2024-01-16   East     Charlie      Laptop     11        600
48      149  2024-01-20   East      Edward      Tablet      9        250
49      150  2024-01-29  South         Bob     Monitor      1        200

    TotalSales  DiscountSales
0         1200         1080.0
1         3250         2925.0
2          300          270.0
3         4200         3780.0
4         1200         1080.0
5         2000         1800.0
6         1600         1440.0
7         4200         3780.0
8          400          360.0
9         2000         1800.0
10        4200         3780.0
11         600          540.0
12        3900         3510.0
13        1800         1620.0
14        1250         1125.0
15        1800         1620.0
16        1500         1350.0
17        9000         8100.0
18        4800         4320.0
19         300          270.0
20        1400         1260.0
21        3000         2700.0
22        1200         1080.0
23        3000         2700.0
24        3600         3240.0
25        2000         1800.0
26        2100         1890.0
27         900          810.0
28         800          720.0
29        9000         8100.0
30         300          270.0
31        2000         1800.0
32         200          180.0
33         600          540.0
34        1500         1350.0
35        2750         2475.0
36         800          720.0
37        1400         1260.0
38        1200         1080.0
39        2500         2250.0
40        2400         2160.0
41         600          540.0
42         600          540.0
43        5400         4860.0
44        3600         3240.0
45        4200         3780.0
46        7200         6480.0
47        6600         5940.0
48        2250         2025.0
49         200          180.0

## 13) Add a new column Profit = 25% of TotalSales.

In [38]:
#Add a new column Profit = 25% of TotalSales.
persons['Profit'] = persons['TotalSales'] * 0.25
print(persons)

    OrderID        Date Region SalesPerson     Product  Units  UnitPrice  \
0       101  2024-01-06  South       Diana      Laptop      2        600
1       102  2024-01-30  South       Diana      Tablet     13        250
2       103  2024-01-26   East         Bob       Phone      1        300
3       104  2024-01-01  North       Diana      Laptop      7        600
4       105  2024-01-13  South     Charlie     Monitor      6        200
5       106  2024-01-12   East       Alice      Tablet      8        250
6       107  2024-01-03   West      Edward     Monitor      8        200
7       108  2024-01-14  North     Charlie       Phone     14        300
8       109  2024-01-20  North         Bob     Monitor      2        200
9       110  2024-01-07  South         Bob      Tablet      8        250
10      111  2024-01-25   West      Edward       Phone     14        300
11      112  2024-01-08  South     Charlie     Monitor      3        200
12      113  2024-01-07   East       Alice       Phone     13        300
13      114  2024-01-08  South         Bob      Laptop      3        600
14      115  2024-01-26  South       Alice      Tablet      5        250
15      116  2024-01-01   West       Diana     Monitor      9        200
16      117  2024-01-24   West      Edward  Headphones     15        100
17      118  2024-01-20   East      Edward      Laptop     15        600
18      119  2024-01-19  South       Alice      Laptop      8        600
19      120  2024-01-25   East       Diana       Phone      1        300
20      121  2024-01-26   West       Diana     Monitor      7        200
21      122  2024-01-31  North       Diana     Monitor     15        200
22      123  2024-01-28   East         Bob      Laptop      2        600
23      124  2024-01-31  North       Alice      Laptop      5        600
24      125  2024-01-14   East       Diana       Phone     12        300
25      126  2024-01-20   West     Charlie     Monitor     10        200
26      127  2024-01-03  South       Diana       Phone      7        300
27      128  2024-01-07  South       Diana       Phone      3        300
28      129  2024-01-07   West       Diana  Headphones      8        100
29      130  2024-01-18   East       Diana      Laptop     15        600
30      131  2024-01-24  North         Bob  Headphones      3        100
31      132  2024-01-26  North       Diana     Monitor     10        200
32      133  2024-01-06  North      Edward     Monitor      1        200
33      134  2024-01-04  South       Alice      Laptop      1        600
34      135  2024-01-05   East      Edward  Headphones     15        100
35      136  2024-01-28  South       Alice      Tablet     11        250
36      137  2024-01-19   West     Charlie     Monitor      4        200
37      138  2024-01-12   West     Charlie     Monitor      7        200
38      139  2024-01-27   West     Charlie  Headphones     12        100
39      140  2024-01-05   East      Edward      Tablet     10        250
40      141  2024-01-14   West     Charlie       Phone      8        300
41      142  2024-01-19  South       Diana      Laptop      1        600
42      143  2024-01-15  South       Diana      Laptop      1        600
43      144  2024-01-20   East     Charlie      Laptop      9        600
44      145  2024-01-03  South         Bob       Phone     12        300
45      146  2024-01-07   East         Bob       Phone     14        300
46      147  2024-01-25  South       Diana      Laptop     12        600
47      148  2024-01-16   East     Charlie      Laptop     11        600
48      149  2024-01-20   East      Edward      Tablet      9        250
49      150  2024-01-29  South         Bob     Monitor      1        200

    TotalSales  DiscountSales  Profit
0         1200         1080.0   300.0
1         3250         2925.0   812.5
2          300          270.0    75.0
3         4200         3780.0  1050.0
4         1200         1080.0   300.0
5         2000         1800.0   500.0
6         1600         1440.0   400.0
7         4200         3780.0  1050.0
8          400          360.0   100.0
9         2000         1800.0   500.0
10        4200         3780.0  1050.0
11         600          540.0   150.0
12        3900         3510.0   975.0
13        1800         1620.0   450.0
14        1250         1125.0   312.5
15        1800         1620.0   450.0
16        1500         1350.0   375.0
17        9000         8100.0  2250.0
18        4800         4320.0  1200.0
19         300          270.0    75.0
20        1400         1260.0   350.0
21        3000         2700.0   750.0
22        1200         1080.0   300.0
23        3000         2700.0   750.0
24        3600         3240.0   900.0
25        2000         1800.0   500.0
26        2100         1890.0   525.0
27         900          810.0   225.0
28         800          720.0   200.0
29        9000         8100.0  2250.0
30         300          270.0    75.0
31        2000         1800.0   500.0
32         200          180.0    50.0
33         600          540.0   150.0
34        1500         1350.0   375.0
35        2750         2475.0   687.5
36         800          720.0   200.0
37        1400         1260.0   350.0
38        1200         1080.0   300.0
39        2500         2250.0   625.0
40        2400         2160.0   600.0
41         600          540.0   150.0
42         600          540.0   150.0
43        5400         4860.0  1350.0
44        3600         3240.0   900.0
45        4200         3780.0  1050.0
46        7200         6480.0  1800.0
47        6600         5940.0  1650.0
48        2250         2025.0   562.5
49         200          180.0    50.0

## 14) Sort the sales by TotalSales in descending order.

In [39]:
#Sort the sales by TotalSales in descending order.
sales = persons.sort_values("TotalSales", ascending=False)
print(sales)

    OrderID        Date Region SalesPerson     Product  Units  UnitPrice  \
17      118  2024-01-20   East      Edward      Laptop     15        600
29      130  2024-01-18   East       Diana      Laptop     15        600
46      147  2024-01-25  South       Diana      Laptop     12        600
47      148  2024-01-16   East     Charlie      Laptop     11        600
43      144  2024-01-20   East     Charlie      Laptop      9        600
18      119  2024-01-19  South       Alice      Laptop      8        600
10      111  2024-01-25   West      Edward       Phone     14        300
7       108  2024-01-14  North     Charlie       Phone     14        300
45      146  2024-01-07   East         Bob       Phone     14        300
3       104  2024-01-01  North       Diana      Laptop      7        600
12      113  2024-01-07   East       Alice       Phone     13        300
24      125  2024-01-14   East       Diana       Phone     12        300
44      145  2024-01-03  South         Bob       Phone     12        300
1       102  2024-01-30  South       Diana      Tablet     13        250
23      124  2024-01-31  North       Alice      Laptop      5        600
21      122  2024-01-31  North       Diana     Monitor     15        200
35      136  2024-01-28  South       Alice      Tablet     11        250
39      140  2024-01-05   East      Edward      Tablet     10        250
40      141  2024-01-14   West     Charlie       Phone      8        300
48      149  2024-01-20   East      Edward      Tablet      9        250
26      127  2024-01-03  South       Diana       Phone      7        300
5       106  2024-01-12   East       Alice      Tablet      8        250
31      132  2024-01-26  North       Diana     Monitor     10        200
25      126  2024-01-20   West     Charlie     Monitor     10        200
9       110  2024-01-07  South         Bob      Tablet      8        250
15      116  2024-01-01   West       Diana     Monitor      9        200
13      114  2024-01-08  South         Bob      Laptop      3        600
6       107  2024-01-03   West      Edward     Monitor      8        200
16      117  2024-01-24   West      Edward  Headphones     15        100
34      135  2024-01-05   East      Edward  Headphones     15        100
37      138  2024-01-12   West     Charlie     Monitor      7        200
20      121  2024-01-26   West       Diana     Monitor      7        200
14      115  2024-01-26  South       Alice      Tablet      5        250
0       101  2024-01-06  South       Diana      Laptop      2        600
22      123  2024-01-28   East         Bob      Laptop      2        600
38      139  2024-01-27   West     Charlie  Headphones     12        100
4       105  2024-01-13  South     Charlie     Monitor      6        200
27      128  2024-01-07  South       Diana       Phone      3        300
36      137  2024-01-19   West     Charlie     Monitor      4        200
28      129  2024-01-07   West       Diana  Headphones      8        100
11      112  2024-01-08  South     Charlie     Monitor      3        200
41      142  2024-01-19  South       Diana      Laptop      1        600
42      143  2024-01-15  South       Diana      Laptop      1        600
33      134  2024-01-04  South       Alice      Laptop      1        600
8       109  2024-01-20  North         Bob     Monitor      2        200
2       103  2024-01-26   East         Bob       Phone      1        300
19      120  2024-01-25   East       Diana       Phone      1        300
30      131  2024-01-24  North         Bob  Headphones      3        100
32      133  2024-01-06  North      Edward     Monitor      1        200
49      150  2024-01-29  South         Bob     Monitor      1        200

    TotalSales  DiscountSales  Profit
17        9000         8100.0  2250.0
29        9000         8100.0  2250.0
46        7200         6480.0  1800.0
47        6600         5940.0  1650.0
43        5400         4860.0  1350.0
18        4800         4320.0  1200.0
10        4200         3780.0  1050.0
7         4200         3780.0  1050.0
45        4200         3780.0  1050.0
3         4200         3780.0  1050.0
12        3900         3510.0   975.0
24        3600         3240.0   900.0
44        3600         3240.0   900.0
1         3250         2925.0   812.5
23        3000         2700.0   750.0
21        3000         2700.0   750.0
35        2750         2475.0   687.5
39        2500         2250.0   625.0
40        2400         2160.0   600.0
48        2250         2025.0   562.5
26        2100         1890.0   525.0
5         2000         1800.0   500.0
31        2000         1800.0   500.0
25        2000         1800.0   500.0
9         2000         1800.0   500.0
15        1800         1620.0   450.0
13        1800         1620.0   450.0
6         1600         1440.0   400.0
16        1500         1350.0   375.0
34        1500         1350.0   375.0
37        1400         1260.0   350.0
20        1400         1260.0   350.0
14        1250         1125.0   312.5
0         1200         1080.0   300.0
22        1200         1080.0   300.0
38        1200         1080.0   300.0
4         1200         1080.0   300.0
27         900          810.0   225.0
36         800          720.0   200.0
28         800          720.0   200.0
11         600          540.0   150.0
41         600          540.0   150.0
42         600          540.0   150.0
33         600          540.0   150.0
8          400          360.0   100.0
2          300          270.0    75.0
19         300          270.0    75.0
30         300          270.0    75.0
32         200          180.0    50.0
49         200          180.0    50.0

## 15) Replace the region “North” with “North Zone”.

In [40]:
#Replace the region “North” with “North Zone”.
reg = persons['Region'].replace('North','North Zone')
print(reg)

0          South
1          South
2           East
3     North Zone
4          South
5           East
6           West
7     North Zone
8     North Zone
9          South
10          West
11         South
12          East
13         South
14         South
15          West
16          West
17          East
18         South
19          East
20          West
21    North Zone
22          East
23    North Zone
24          East
25          West
26         South
27         South
28          West
29          East
30    North Zone
31    North Zone
32    North Zone
33         South
34          East
35         South
36          West
37          West
38          West
39          East
40          West
41         South
42         South
43          East
44         South
45          East
46         South
47          East
48          East
49         South
Name: Region, dtype: object

## 16) Convert the Date column into month names.

In [41]:
#Convert the Date column into month names.
persons['Date'] = pd.to_datetime(persons['Date'])
persons['Month'] = persons['Date'].dt.month_name()
print(persons)

    OrderID       Date Region SalesPerson     Product  Units  UnitPrice  \
0       101 2024-01-06  South       Diana      Laptop      2        600
1       102 2024-01-30  South       Diana      Tablet     13        250
2       103 2024-01-26   East         Bob       Phone      1        300
3       104 2024-01-01  North       Diana      Laptop      7        600
4       105 2024-01-13  South     Charlie     Monitor      6        200
5       106 2024-01-12   East       Alice      Tablet      8        250
6       107 2024-01-03   West      Edward     Monitor      8        200
7       108 2024-01-14  North     Charlie       Phone     14        300
8       109 2024-01-20  North         Bob     Monitor      2        200
9       110 2024-01-07  South         Bob      Tablet      8        250
10      111 2024-01-25   West      Edward       Phone     14        300
11      112 2024-01-08  South     Charlie     Monitor      3        200
12      113 2024-01-07   East       Alice       Phone     13        300
13      114 2024-01-08  South         Bob      Laptop      3        600
14      115 2024-01-26  South       Alice      Tablet      5        250
15      116 2024-01-01   West       Diana     Monitor      9        200
16      117 2024-01-24   West      Edward  Headphones     15        100
17      118 2024-01-20   East      Edward      Laptop     15        600
18      119 2024-01-19  South       Alice      Laptop      8        600
19      120 2024-01-25   East       Diana       Phone      1        300
20      121 2024-01-26   West       Diana     Monitor      7        200
21      122 2024-01-31  North       Diana     Monitor     15        200
22      123 2024-01-28   East         Bob      Laptop      2        600
23      124 2024-01-31  North       Alice      Laptop      5        600
24      125 2024-01-14   East       Diana       Phone     12        300
25      126 2024-01-20   West     Charlie     Monitor     10        200
26      127 2024-01-03  South       Diana       Phone      7        300
27      128 2024-01-07  South       Diana       Phone      3        300
28      129 2024-01-07   West       Diana  Headphones      8        100
29      130 2024-01-18   East       Diana      Laptop     15        600
30      131 2024-01-24  North         Bob  Headphones      3        100
31      132 2024-01-26  North       Diana     Monitor     10        200
32      133 2024-01-06  North      Edward     Monitor      1        200
33      134 2024-01-04  South       Alice      Laptop      1        600
34      135 2024-01-05   East      Edward  Headphones     15        100
35      136 2024-01-28  South       Alice      Tablet     11        250
36      137 2024-01-19   West     Charlie     Monitor      4        200
37      138 2024-01-12   West     Charlie     Monitor      7        200
38      139 2024-01-27   West     Charlie  Headphones     12        100
39      140 2024-01-05   East      Edward      Tablet     10        250
40      141 2024-01-14   West     Charlie       Phone      8        300
41      142 2024-01-19  South       Diana      Laptop      1        600
42      143 2024-01-15  South       Diana      Laptop      1        600
43      144 2024-01-20   East     Charlie      Laptop      9        600
44      145 2024-01-03  South         Bob       Phone     12        300
45      146 2024-01-07   East         Bob       Phone     14        300
46      147 2024-01-25  South       Diana      Laptop     12        600
47      148 2024-01-16   East     Charlie      Laptop     11        600
48      149 2024-01-20   East      Edward      Tablet      9        250
49      150 2024-01-29  South         Bob     Monitor      1        200

    TotalSales  DiscountSales  Profit    Month
0         1200         1080.0   300.0  January
1         3250         2925.0   812.5  January
2          300          270.0    75.0  January
3         4200         3780.0  1050.0  January
4         1200         1080.0   300.0  January
5         2000         1800.0   500.0  January
6         1600         1440.0   400.0  January
7         4200         3780.0  1050.0  January
8          400          360.0   100.0  January
9         2000         1800.0   500.0  January
10        4200         3780.0  1050.0  January
11         600          540.0   150.0  January
12        3900         3510.0   975.0  January
13        1800         1620.0   450.0  January
14        1250         1125.0   312.5  January
15        1800         1620.0   450.0  January
16        1500         1350.0   375.0  January
17        9000         8100.0  2250.0  January
18        4800         4320.0  1200.0  January
19         300          270.0    75.0  January
20        1400         1260.0   350.0  January
21        3000         2700.0   750.0  January
22        1200         1080.0   300.0  January
23        3000         2700.0   750.0  January
24        3600         3240.0   900.0  January
25        2000         1800.0   500.0  January
26        2100         1890.0   525.0  January
27         900          810.0   225.0  January
28         800          720.0   200.0  January
29        9000         8100.0  2250.0  January
30         300          270.0    75.0  January
31        2000         1800.0   500.0  January
32         200          180.0    50.0  January
33         600          540.0   150.0  January
34        1500         1350.0   375.0  January
35        2750         2475.0   687.5  January
36         800          720.0   200.0  January
37        1400         1260.0   350.0  January
38        1200         1080.0   300.0  January
39        2500         2250.0   625.0  January
40        2400         2160.0   600.0  January
41         600          540.0   150.0  January
42         600          540.0   150.0  January
43        5400         4860.0  1350.0  January
44        3600         3240.0   900.0  January
45        4200         3780.0  1050.0  January
46        7200         6480.0  1800.0  January
47        6600         5940.0  1650.0  January
48        2250         2025.0   562.5  January
49         200          180.0    50.0  January

## 17) Convert the Date column into month names.

In [42]:
#Find the total sales per Region.
tot = persons.groupby('Region')['TotalSales'].sum()
print(tot)

Region
East     51750
North    17300
South    34650
West     19100
Name: TotalSales, dtype: int64

## 18) Find the average Units sold per Product.

In [43]:
#Find the average Units sold per Product.
aver = persons.groupby('Product')['Units'].mean()
print(aver)

Product
Headphones    10.600000
Laptop         6.571429
Monitor        6.384615
Phone          9.000000
Tablet         9.142857
Name: Units, dtype: float64

## 19) Count how many sales each SalesPerson made.

In [44]:
#Count how many sales each SalesPerson made.
print(persons['SalesPerson'].value_counts())

SalesPerson
Diana      16
Charlie    10
Bob         9
Edward      8
Alice       7
Name: count, dtype: int64

## 20) Find the highest TotalSales for each Region

In [45]:
#Find the highest TotalSales for each Region
high = persons.groupby('Region')['TotalSales'].max()
print(high)

Region
East     9000
North    4200
South    7200
West     4200
Name: TotalSales, dtype: int64

## 21) Find the total revenue per Product.

In [46]:
#Find the total revenue per Product.
revenue = persons.groupby('Product')['TotalSales'].sum()
print(revenue)

Product
Headphones     5300
Laptop        55200
Monitor       16600
Phone         29700
Tablet        16000
Name: TotalSales, dtype: int64

## 22) Identify the top-performing SalesPerson in terms of revenue.

In [47]:
#Identify the top-performing SalesPerson in terms of revenue.
top_performing = persons.groupby('SalesPerson')['TotalSales'].sum()
top = top_performing.sort_values(ascending=False)
print(top.head(1))

SalesPerson
Diana    41950
Name: TotalSales, dtype: int64

## 23) Find the product that generated the highest overall sales.

In [48]:
#Find the product that generated the highest overall sales.
highest_sales = persons.groupby('Product')['TotalSales'].sum()
highest = highest_sales.sort_values(ascending=False)
print(highest.head(1))

Product
Laptop    55200
Name: TotalSales, dtype: int64

## 24) Show the monthly total sales trend.

In [49]:
#Show the monthly total sales trend.
print(persons.groupby('Month')['TotalSales'].sum())

Month
January    122800
Name: TotalSales, dtype: int64

## 25) Show sales where two different products have the same UnitPrice.

In [50]:
#Show sales where two different products have the same UnitPrice.
print(persons.groupby('UnitPrice')['Product'].unique())

UnitPrice
100    [Headphones]
200       [Monitor]
250        [Tablet]
300         [Phone]
600        [Laptop]
Name: Product, dtype: object

## 26) Save the updated DataFrame into a new CSV file named company_sales_updated.csv.

In [51]:
#Save the updated DataFrame into a new CSV file named company_sales_updated.csv.
persons.to_csv('company_sales_person_updated.csv')